################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


########忽略以某些字符开头的文件##########
~$*
########################################

/openwrt